<p-toast></p-toast>
<app-spinner></app-spinner>
<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table
                #dt
                [value]="colonos"
                responsiveLayout="scroll"
                [globalFilterFields]="['nombre', 'telefono']"
                [rows]="10"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="numeracion"
                styleClass="p-datatable-sm"
            >
            <ng-template pTemplate="caption">
                <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                    <h5>Lista de Colonos</h5>
                    <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." class="w-100" />
                    </span>
                </div>
            </ng-template>
                <ng-template pTemplate="header">
                    <tr class="text-sm">
                        <th pSortableColumn="id">No<p-sortIcon field="id"></p-sortIcon></th>
                        <th>Folio</th>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Calle</th>
                        <th>Numero Exterior</th>
                        <th>Numero Interior</th>
                        <th>C.P.</th>
                        <th>Edificio</th>
                        <th>Manzana</th>
                        <th>Lote</th>
                        <th>Departamento</th>
                        <th>Casa</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-colono >
                    <tr class="text-sm" >
                        <td style="width:5%; min-width:5rem;">
                            {{ colono.id }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{ colono.folio.name }}
                        </td>
                        <td style="width:24%; min-width:10rem;">
                            {{ colono.nombre }} / {{colono.apellido_paterno}} {{colono.apellido_materno}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            {{ colono.telefono }}
                        </td>
                        <td style="width:24%; min-width:10rem;">
                            {{ colono.calle }}
                        </td>
                        <td style="width:24%; min-width:10rem;">
                            {{ colono.numero_exterior }}
                        </td>
                        <td style="width:24%; min-width:10rem;">
                            {{ colono.numero_interior }}
                        </td>
                        <td style="width:24%; min-width:10rem;">
                            {{ colono.cp }}
                        </td>
                        <td style="width:24%; min-width:10rem;">
                            {{ colono.edificio }}
                        </td>
                        <td style="width:24%; min-width:10rem;">
                            {{ colono.manzana }}
                        </td>
                        <td style="width:24%; min-width:10rem;">
                            {{ colono.lote }}
                        </td>
                        <td style="width:24%; min-width:10rem;">
                            {{ colono.departamento }}
                        </td>
                        <td style="width:24%; min-width:10rem;">
                            {{ colono.casa }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
